.submitBtn {
  color: whitesmoke;
  background-color: #1678cb;
  padding: 12px 8px;
  width: 150px;
}
.submitBtn:hover {
  background-color: white;
  outline: 1px #1678cb solid;
  color: #1678cb;
}

.attendanceInfo {
  color: whitesmoke;
  background-color: #1678cb;
  padding: 15px 10px;
}
